body {
	margin: 0;
	background-color: #1E1E1E;
	background-image: url('../images/background.png');
}

.GameArea-Container {
	width: 820px;
	height: 540px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 14px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.Header {
	color: rgba(255, 220, 95, 1.0);
	font-size: 18px;
	text-align: center;
	padding: 15px;
}

.GameBoard {
	float: left;
	width: fit-content;
	height: fit-content;
	color: white;
	padding: 100px;
}

.button-slot {
	font-size: 16px;
	background-color: rgba(255, 220, 95, 1.0);
	margin: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.Payout-Header {
	color: white;
	text-align: center;
}

.Payout-Content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-top: 10px;
}

.Payout-Content-Header {
	color: slategrey;
}

.Payout-Column-Sum {
	text-align: center;
	list-style-type: none;
	color:gold;
}

.Payout-Column-MGP {
	text-align: center;
	list-style-type: none;
	color:white;
}