body {
	margin: 0;
	background-color: #1E1E1E;
	background-image: url('../images/background.png');
}

.GameArea-Container {
	width: 820px;
	height: 580px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 14px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.Header {
	color: rgba(255, 220, 95, 1.0);
	font-size: 18px;
	text-align: center;
	padding: 15px;
}

.GameBoard {
	float: left;
	width: fit-content;
	height: fit-content;
	padding: 20px;
}

.button-slot {
	cursor: pointer;
	font-size: 16px;
	background-color: rgba(255, 220, 95, 1.0);
	margin: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-style: solid;
}

.button-slot:hover {
	border-color: #0066ff;
	transition: 0.5s;
}

.button-RevealSlotSet {
	cursor: pointer;
	margin: 25px;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.button-RevealSlotSet:hover {
	border-color: goldenrod;
	transition: 0.5s;
}

.button-RevealSlotSet-end {
	cursor: pointer;
	margin: 10px;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.button-RevealSlotSet-end:hover {
	border-color: goldenrod;
	transition: 0.5s;
}

.button-RevealSlotSet-start {
	cursor: pointer;
	margin: 10px;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.button-RevealSlotSet-start:hover {
	border-color: goldenrod;
	transition: 0.5s;
}

.button-Confirm {
	cursor: pointer;
	color: whitesmoke;
	padding: 8px;
	border-color: slategrey;
	border-style: solid;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.5);
}

.button-Confirm:hover {
	background-color: slategrey;
	transition: 0.7s;
}

.Payout-Header {
	color: white;
	text-align: center;
}

.Payout-Content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-top: 10px;
}

.Payout-Content-Header {
	color: slategrey;
}

.Payout-Column-Sum {
	padding-left: 50px;
	text-align: center;
	list-style-type: none;
	color:gold;
}

.Payout-Column-MGP {
	text-align: center;
	list-style-type: none;
	color:white;
}

.selectSlotText {
	text-align: center;
	color: rgba(255, 215, 0, 0.8);
	font-size: 18px;
}

@keyframes anvil {
	0% {
	  transform: scale(1) translateY(0px);
	  opacity: 0;
	  box-shadow: 0 0 0 rgba(241, 241, 241, 0);
	}
	1% {
	  transform: scale(0.96) translateY(10px);
	  opacity: 0;
	  box-shadow: 0 0 0 rgba(241, 241, 241, 0);
	}
	100% {
	  transform: scale(1) translateY(0px);
	  opacity: 1;
	  box-shadow: 0 0 500px rgba(241, 241, 241, 0);
	}
 }
 .popup-content {
	-webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
 }

 .popup-content {
	font-size: 25px;
	color: white;
	background: #292d3e;
	width: fit-content;
	padding: 20px;
	border-radius: 15px;
	border: solid white 1px
 }
 .popup-arrow {
	color: rgb(255, 255, 255);
 }
 [role='tooltip'].popup-content {
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
 }
 
 .popup-overlay {
	background: rgba(0, 0, 0, 0.5);
 }
 [data-popup='tooltip'].popup-overlay {
	background: transparent;
 }

 .popup-header {
	color: white;
	border-bottom: white solid 1px;
	padding-bottom: 5px;
	margin-bottom: 5px;
 }

.popup-close-button {
	cursor: pointer;
	position: absolute;
	display: block;
	right: -10px;
	top: -10px;
	font-size: 25px;
	border: none;
	border-radius: 10px;
}

.popup-close-button:hover {
	color: white;
	background-color: #ff6c3b;
	transition: 0.5s;
}